.home {
  display: flex;
  width: 100%;

  .feed {
    display: flex;
    flex-direction: column;
    gap: 70px;
    overflow: hidden;

    .section {
      width: 100%;

      .sectionTitle {
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
      }

      .sectionDescription {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        color: #999999;
      }

      .cardContainer {
        width: 100%;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .banner {
        width: 100%;
      }

      .original {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-column-gap: 16px;
        overflow: auto;
      }

      .latest {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 64px 16px;
      }
    }
  }
}
