.footer {
  display: flex;
  gap: 30px;
  margin-top: 60px;
  margin-left: -52px;
  padding: 30px 52px 50px;
  width: 100vw;
  border-top: 1.5px solid rgba(0, 0, 0, 0.1);

  .info {
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
  }

  .copyright {
    margin-top: 10px;
    color: #555555;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
  }
}
