.featured {
  display: flex;
  gap: 20px;
  border-radius: 12px;
  overflow: auto;

  .featuredBox {
    min-width: 75%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .featured {
    gap: 12px;
    padding: 0 16px;
    border-radius: 0;

    .featuredBox {
      min-width: 310px;
    }
  }
}
