.nav {
  position: sticky;
  top: 0;
  width: calc(100vw - 10px);
  height: 80px;
  margin: 0 0 43px -52px;
  padding: 0 62px 0 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;

  .flexUnit {
    display: flex;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  .logo {
    &:hover {
      cursor: pointer;
    }
  }

  .searchBox {
    display: flex;
    align-items: center;
    width: 300px;
    height: 38px;
    margin-left: 105px;
    padding: 0 20px;
    border: 1.5px solid #cccccc;
    border-radius: 50px;

    .searchIcon {
      margin-right: 12px;
    }

    .searchInput {
      width: 100%;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      border: none;
      background-color: transparent;

      &::placeholder {
        color: #aaaaaa;
      }
    }
  }

  .signIn {
    height: 32px;
    padding: 0px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #111111;
  }
}

@media (max-width: 768px) {
  .nav {
    width: 100vw;
    height: 60px;
    margin-left: -16px;
    padding: 0 16px 0 16px;

    .hamburger {
      display: block;
      margin-right: 15px;
      cursor: pointer;
    }

    .searchBox {
      display: none;
    }

    .searchIcon {
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
